@page "/deviceoverview"
@using Microsoft.AspNetCore.Components.QuickGrid
@rendermode InteractiveServer

<h3>DeviceOverview</h3>

<button type="button" class="btn btn-outline-success" @onclick="() => GoToAddDevicePage()">Add Device</button>

@if (devicesQueryable != null)
{
    @if(IsDeleted == true)
    {
        <div class="alert @StatusClass">@Message</div>
    }
    <QuickGrid Items="@devicesQueryable" Pagination="@pagination">
        <PropertyColumn Property="@(d => d.Id)" IsDefaultSortColumn="true" Title="ID" Sortable="true" />
        <PropertyColumn Property="@(d => d.DeviceName)" Title="Name" Sortable="true" />
        <PropertyColumn Property="@(d => d.Location)" Title="Location" Sortable="true" />
        <PropertyColumn Property="@(d => d.Date)" Title="Date" Sortable="true" />
        <PropertyColumn Property="@(d => d.Type)" Title="Type" Sortable="true" />
       @*  <PropertyColumn Property="@(d => d.Status)" Title="Status" Sortable="true" /> *@
        <TemplateColumn>
            <button type="button" class="@ButtonClass(context.Status)" @onclick="() => ToggleStatus(context)">@(context.Status ? "Online" : "Offline")</button>
        </TemplateColumn>
        <TemplateColumn>
            <button type="button" class="btn btn-outline-danger" @onclick="() => DeleteDevice(context.Id)">Delete</button>
            <button type="button" class="btn btn-outline-warning" @onclick="() => GoToEditPage(context.Id)">Edit</button>
            <button type="button" class="btn btn-outline-info" @onclick="() => GoToDetailsPage(context.Id)">Details</button>
            <button type="button" class="btn btn-outline-primary" @onclick="() => GoToSensorValuePage(context.Id)">Sensor Values</button>
        </TemplateColumn>

    </QuickGrid>

    <Paginator State="@pagination" />

    <OverviewStatictics></OverviewStatictics>

}
else
{
    <p>Loading devices...</p>
}




